<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <header>
            <h1>Привет, <span class="neon-text">{{ name }}</span></h1>
            <a href="/logout" class="btn-logout">Выйти</a>
        </header>

        <div class="auth-module">
            <h3>Cloud Authenticator</h3>
            <div class="code-display" id="authCode">------</div>
            <div class="progress-bar-container">
                <div class="progress-bar" id="progressBar"></div>
            </div>
            <p class="status">Синхронизация с сервером...</p>
        </div>

        <div class="content-fake">
            <p>Статус сервера: ONLINE</p>
            <p>Ваша лицензия: PRO (Nano Edition)</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>